<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.hungrystomach">

    <!--Payment-->
    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--WritePDF-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--permission to access network HTTP request-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".Home_Activity" />
        <activity android:name=".Upload_Activity" />
        <activity android:name=".Cart_Activity" />
        <activity android:name=".Detail_Activity" />
        <activity android:name=".Setting_Activity" />
        <activity android:name=".Checkout1_Activity" />
        <activity android:name=".Checkout3_Activity" />
        <activity android:name=".Status_Update_Activity" />
        <activity android:name=".Receipt_Activity" />
        <activity android:name=".Request_Activity" />
        <activity android:name=".RoomChat_Activity" />
        <activity android:name=".Track_Order_Activity" />
        <activity android:name=".Rating_Activity" />


        <!--braintree-->
        <activity
            android:name=".Checkout2_Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <!--googlepay-->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <!--receive firebase notification-->
        <service android:name=".Notification.FCM_Service"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!--set default icon-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_shopping_cart" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <!--paypal-->
        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <!--GooglePay-->
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>
    </application>



</manifest>